/* game board table */

body { 
	background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
}
h1{ 
	display: block;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	font-size: 2.5em;
}
#header {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	color: orange;
	text-shadow: .5px .5px .5px black;
}


#board td {
	width: 50px;
	height: 50px;
	border: solid 1px lightsalmon;
	border-radius: 9px;
	padding: 10px 10px 10px 10px; 
}

#board {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 3px;
	padding: 15px;
	justify-content: center;
	
	
}

/* pieces are div within game table cells: draw as colored circles */


.piece {
	margin: 5px;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
	border: dashed 1px lightgray;
}

#column-top td:hover {
	background-color: lightsalmon;
	opacity: .5; 
}

#form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#player_1,
#player_2 {
	margin: 10px 0px;
}

button {
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	padding: 7px;
	font-size: 15px;
	border-radius: 15px;
	color: black;
	background-color: orange;

}

button:hover {
	background-color: black;
	color: orange; 
	transition-duration: .7s; 
	padding: 10px; 
	box-shadow: lightsalmon;
	border-radius: 5px;
	position: absolute 50%; 
}

#fishimage{
	height: 190px; 
	width: 210px; 
	position: absolute; 
	right: 0px; 
	bottom: 0px;
}

#fishimage2 {
	height: 150px; 
	width: 170px; 
	position: absolute; 
	right: 150px; 
	bottom: 210px;
	transform: scaleX(-1);
}
#fishimage3 {
		height: 200px; 
		width: 270px; 
		position: absolute; 
		right: 0px; 
		bottom: 410px;
}

#fishimage4 {
	height: 100px; 
	width: 100px; 
	position: absolute; 
	right: 65%; 
	bottom: 0px;
}

#fishimage5 {
	height: 100px; 
	width: 100px; 
	position: absolute; 
	right: 85%; 
	bottom: 0px;
	transform: scaleX(-1);
}

#fishimage6 {
	height: 100px; 
	width: 100px; 
	position: absolute; 
	right: 45%; 
	bottom: 0px;
;
}

#fishimage7 {
	height: 100px; 
	width: 100px; 
	position: absolute; 
	right: 25%; 
	bottom: 0px;
	transform: scaleX(-1);
}

input { 
	text-align: center;
	background-color: lightgoldenrodyellow ;
	color: darkblue;
	font-style: italic;
	transition: width 0.4s ease-in-out;
	border: none;
	padding: 1em;
}

#inputs {
	text-align: center;
} 